<div>
    Topic: something <br>
    Teacher: <%=data%> <br>
    Date: ${date} <br>
    Time: ${time} <br>
    <br>
    <button type="button" name="set_reminder" id="set_reminder" class="button">Set Rerminder</button>
</div>
