<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
<link rel="stylesheet" href="header-wrapper.css"/>

<div class="header--wrapper">
    <div class="header--title">
        <h2>User Profile</h2>
    </div>
    <div class="header--profile">
        <button id="profile-button">K. M. Abesh Ahsan</button>
        <div id="profile-menu" style="display: none; position: absolute">
            <ul style="list-style: none">
                <li>
                    <a style="text-decoration: none" href="/profile" >
                        <div class="profile-menu-item">
                            Profile
                        </div>
                    </a>
                </li>
                <li>
                    <a style="text-decoration: none" href="/logout" >
                        <div class="profile-menu-item">
                            Logout
                        </div>
                    </a>
                </li>
                <li>
                    <a style="text-decoration: none" href="" >
                        <div class="profile-menu-item">
                            Settings
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="header-wrapper.js"></script>