<!DOCTYPE html>
<html>

<head>
	<meta chjarset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Sign In</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>

	<link href="style.css" rel="stylesheet">
	<link rel="stylesheet" href="prayertimes.css">

</head>

<body>

	<header>
		<h2 class="productivemuslim">Productive Muslim</h2>
	</header>
	<div class="salat-time">
		
		<%- include('LoginPrayerTimes.ejs') %>
	</div>
	<div class="wrapper">
		<!-- <span class="icon-close"><ion-icon name="close"></ion-icon></span> -->

		<div class="form-box login">
			<h2>Login</h2>
			<form id="signin_form" name="signin_form" action="/signin" method="post">
				<div class="input-box">
					<span class="icon"><ion-icon name="mail"></ion-icon>
					</span>
					<input type="email" id="signin-email" name="email" required>
					<label>Email</label>
					<label class="error"></label>
				</div>
				<div class="input-box">
					<span class="icon"><ion-icon name="lock-closed"></ion-icon>
					</span>
					<input type="password" id="signin-password" name="password" required>
					<label>Password</label>
				</div>
				<div class="forgot">
					<input type="button" id="forgot_pass_button" class="forgot_pass_button" name="forgot_pass_button"
						value="Forgot password"></button>
				</div>
				<input type="submit" id="signin_button" class="btn" value="Sign In"></button>
				<div class="login-register">
					<p> Don't have an account?
						<!-- <a href="#signup_form" class="register-link">Register
                        </a> -->
						<input type="button" id="register-link" class="register-link" name="register-link"
							value="Register"></button>
					</p>
				</div>
			</form>
		</div>
		<div class="form-box signup">
			<h2>Signup</h2>
			<form id="signup_form" name="signup_form" action="/signup" method="post">
				<div class="input-box">
					<span class="icon"><ion-icon name="person"></ion-icon>
					</span>
					<input type="text" required>
					<label>Username</label>
				</div>
				<div class="input-box">
					<span class="icon"><ion-icon name="mail"></ion-icon>
					</span>
					<input type="email" id="signup-email" name="email" required>
					<label>Email</label>
				</div>
				<div class="input-box">
					<span class="icon"><ion-icon name="lock-closed"></ion-icon>
					</span>
					<input type="password" required id="signup-password" name="password">
					<label>Password</label>
				</div>
				<div class="input-box">
					<span class="icon"><ion-icon name="lock-closed"></ion-icon>
					</span>
					<input type="password" required id="confirm_password" name="confirm_password" required>
					<label>Repeat Password</label>
				</div>
				<input type="submit" id="signup_button" class="btn" value="SignUp"></button>
				<div class="login-register">
					<p> Already have an account?
						<!-- <a href="/signin#signin_form" class="login-link">Login
		 				</a> -->
						<input type="button" id="login-link" class="login-link" name="login-link"
							value="Login"></button>
					</p>
				</div>
			</form>
		</div>

	</div>
	<script src="client.js"></script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</body>

</html>