<link rel="stylesheet" type="text/css" href="stylesheets/mini-calendar.css">

<div style="border: 1px solid #b7b7b7; padding: 10px 10px 10px 10px; border-radius: 5px" id="mini-calendar-container">

    <div style="display: flex; flex-direction: row; margin-bottom: 5px;">
        <input type="button" id="month" value="">
        <input type="button" id="year" value="" style="margin-left: 10px">
        <div style="display: flex; flex-direction: row; margin-left: 25px">
            <input type="button" id="year-up" style="right: 5%; margin: 0 5px 0 5px" value="&uarr;">
            <input type="button" id="year-down" style="right: 5%; margin: 0 5px 0 5px" value="&darr;">
        </div>
    </div>
    <style>
        .month-picker {
            padding: 5px 5px 5px 5px;
        }
    
        .month-picker td {
            width: 20px;
            height: 20px;
            padding: 5px 5px 5px 5px;
            cursor: default;
        }
    
        .month-picker td:hover {
            background-color: #dad8d8;
        }
    </style>
    
    <div style="border: 1px solid #b7b4b4; border-radius: 5px; display: none; position: absolute; background-color: #eae8e8"
         id="month-picker-container">
        <table class="month-picker">
            <tbody>
            <tr>
                <td class="month-name">Jan</td>
                <td class="month-name">Feb</td>
                <td class="month-name">Mar</td>
            </tr>
            <tr>
                <td class="month-name">Apr</td>
                <td class="month-name">May</td>
                <td class="month-name">Jun</td>
            </tr>
            <tr>
                <td class="month-name">Jul</td>
                <td class="month-name">Aug</td>
                <td class="month-name">Sep</td>
            </tr>
            <tr>
                <td class="month-name">Oct</td>
                <td class="month-name">Nov</td>
                <td class="month-name">Dec</td>
            </tr>
            </tbody>
        </table>
    </div>

    <table class="mini-calendar">
        <thead>
        <tr>
            <th class="day-cell">Sun</th>
            <th class="day-cell">Mon</th>
            <th class="day-cell">Tue</th>
            <th class="day-cell">Wed</th>
            <th class="day-cell">Thu</th>
            <th class="day-cell">Fri</th>
            <th class="day-cell">Sat</th>
        </tr>
        </thead>
        <tbody>
        <% for (let i = 1; i <= 5; i++) { %>
            <tr>
                <% for (let j = 1; j <= 7; j++) { %>
                    <td class="date-cell"></td>
                <% } %>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>
