<!DOCTYPE html>
<html lang="en">
<head>
    <title>DashBoard</title>

    <%- include('head-include.ejs') %>

    <link rel="stylesheet" href="stylesheets/dash.css"/>
</head>
<body>

<%- include('sidebar.ejs') %>
<div class="main--content">

    <%- include('header-wrapper.ejs') %>

    <div class="card--container">
        <h3 class="main--title">Today's Ibadah</h3>
        <div class="card--wrapper">
            <a href="/prayer-times" style="text-decoration: none;">
                <div class="card light-blue">
                    <span class="card--detail">Prayer times</span>
                </div>
            </a>
            <a href="" style="text-decoration: none;">
                <div class="card light-blue">
                    <span class="card--detail">Today's Challenge</span>
                </div>
            </a>
            <a href="" style="text-decoration: none;">
                <div class="card light-blue">
                    <span class="card--detail">Today's plan</span>
                </div>
            </a>
            <a href="/classes" style="text-decoration: none;">
                <div class="card light-blue">
                    <span class="card--detail">Events</span>
                </div>
            </a>
        </div>
    </div>
</div>
<script src="javascripts/gelocation-and-prayertime.js"></script>
</body>
</html> 

