<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Code</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>
</head>

<body>
    <form id="otp_forgotpass_form" name="otp_forgotpass_form" action="" method="post">
        <div class="container">
            <h1>Verification Code</h1>
            <hr>
            <div>
                <p>Please enter your OTP here.</p>
                <input type="text" id="otp" name="otp" required>
                <label id="otp_error" class="error" for="otp"></label>
            </div>
            <div class="clearfix">
                <br>
                <input type="submit" id="forgot_otp_button" class="button" value="Verify"></button>
            </div>
        </div>
    </form>
    <script src="javascripts/client.js"></script>
    <!-- <link href="style.css" rel="stylesheet"> -->
</body>

</html>