
<link rel="stylesheet" href="stylesheets/header-wrapper.css"/>

<div class="header--wrapper">
    <div class="header--title">
        <h2><%=`${name}`%></h2>
    </div>
    <div class="header--profile">
        <button id="profile-button"></button>
        <div id="profile-menu" style="display: none; position: absolute">
            <ul style="list-style: none">
                <li>
                    <a style="text-decoration: none; color: black;" href="/profile" >
                        <div class="profile-menu-item">
                            Profile
                        </div>
                    </a>
                </li>
                <li>
                    <a style="text-decoration: none; color: black;" href="" >
                        <div class="profile-menu-item">
                            Settings
                        </div>
                    </a>
                </li>
                <li>
                    <a style="text-decoration: none; color: black;" href="/logout" >
                        <div class="profile-menu-item">
                            Logout
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="javascripts/header-wrapper.js"></script>