<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign In</title>

    <%- include('head-include.ejs') %>

    <link href="stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/prayertimes.css">
</head>

<body>

<header>
    <h2 class="productivemuslim">Productive Muslim</h2>
</header>
<div class="salat-time">


</div>
<div class="wrapper">
    <!-- <span class="icon-close"><ion-icon name="close"></ion-icon></span> -->

    <div class="form-box login">
        <h2>Login</h2>
        <form id="signin_form" name="signin_form" action="/login" method="post">
            <div class="input-box">
					<span class="icon"><ion-icon name="mail"></ion-icon>
					</span>
                <input type="email" id="signin-email" name="email" autocomplete="email" required>
                <label>Email</label>
                <!-- <label class="error"></label> -->
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="password" id="signin-password" name="password" autocomplete="off" required>
                <label for="signin-password">Password</label>
            </div>
            <div class="forgot">
                <input type="button" id="forgot_pass_button" class="forgot_pass_button" name="forgot_pass_button"
                       value="Forgot password"></input>
            </div>
            <input type="submit" id="signin_button" class="btn" value="Sign In"></input>
            <div class="login-register">
                <p> Don't have an account?
                    <!-- <a href="#signup_form" class="register-link">Register
                    </a> -->
                    <input type="button" id="register-link" class="register-link" name="register-link"
                           value="Register"></input>
                </p>
            </div>
        </form>
    </div>
    <div class="form-box signup">
        <h2>Register</h2>
        <form id="signup_form" name="signup_form" action="/register" method="post">
            <div class="input-box">
                <span class="icon"><ion-icon name="person"></ion-icon></span>
                <input type="text" id="username" name="username" autocomplete="name">
                <label for="username">Username</label>
            </div>
            <div class="input-box">
					<span class="icon"><ion-icon name="mail"></ion-icon>
					</span>
                <input type="email" id="signup-email" name="email" required>
                <label for="signup-email">Email</label>
            </div>
            <div class="input-box">
					<span class="icon"><ion-icon name="lock-closed"></ion-icon>
					</span>
                <input type="password" required id="signup-password" autocomplete="current_password" name="password">
                <label>Password</label>
            </div>
            <div class="input-box">
					<span class="icon"><ion-icon name="lock-closed"></ion-icon>
					</span>
                <input type="password" id="confirm_password" name="confirm_password" required>
                <label for="confirm_password">Repeat Password</label>
            </div>
            <input type="submit" id="signup_button" class="btn" value="SignUp"></button>
            <div class="login-register">
                <p> Already have an account?
                    <!-- <a href="/signin#signin_form" class="login-link">Login
                     </a> -->
                    <input type="button" id="login-link" class="login-link" name="login-link"
                           value="Login"></button>
                </p>
            </div>
        </form>
    </div>

</div>
<script src="javascripts/client.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</body>

</html>