<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mail Verify</title>
    <%- include('head-include.ejs') %>
</head>
<body>
    <form id="mail_forgotpass_form" name="mail_forgotpass_form" action="" method="post">
		<div>
            <br> 
            <p>A code will be sent your email to change your password</p>
            <input type="text" id="email" name="email" required>
            <label id="email_error" class="error" for="email"></label>
        </div>
        <div class="clearfix">
            <br>
            <input type="submit" id="enter_email_button" class="button" value="Send Code"></button>
        </div>
	</form>
    <script src="javascripts/client.js"></script>
	<link href="stylesheets/style.css" rel="stylesheet">
</body>
</html>