<style type="text/css">
    .mini-calender {
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 10px;
    }

    .mini-calender td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        overflow: hidden;
        word-break: normal;
        width: 70px;
        height: 70px;
    }

    .mini-calender th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        overflow: hidden;
        word-break: normal;
        width: 10px;
        height: 10px;
        horiz-align: center;
    }

    .mini-calender .tg-j5n6 {
        border-color: inherit;
        font-family: Arial, Helvetica, sans-serif !important;
        text-align: left;
        vertical-align: top
    }

    .mini-calender .tg-iucd {
        border-color: inherit;
        font-family: "Times New Roman", Times, serif !important;
        text-align: left;
        vertical-align: top
    }
</style>
<table class="mini-calender">
    <thead>
    <tr>
        <th class="tg-j5n6">Sun</th>
        <th class="tg-j5n6">Mon</th>
        <th class="tg-j5n6">Tue</th>
        <th class="tg-j5n6">Wed</th>
        <th class="tg-j5n6">Thu</th>
        <th class="tg-j5n6">Fri</th>
        <th class="tg-j5n6">Sat</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
    </tr>
    <tr>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
    </tr>
    <tr>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
    </tr>
    <tr>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
    </tr>
    <tr>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
        <td class="tg-iucd"></td>
    </tr>
    </tbody>
</table>