
<link rel="stylesheet" type="text/css" href="stylesheets/new-class-modal.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div id="overlay-in-new-class" class="modal-overlay"></div>

<div id="new-class" class="modal">
    <div id="new-class-content">
        <h2>Post a new class</h2>
        <form id="new-class-form" name="new-class-form" action="/new-class" method="post">
            <div class="new-class-input">
                <div>
                    <label for="topic">Topic</label>
                </div>
                <div>
                    <input type="text" id="topic" name="topic" required>
                </div>
                <div>
                    <label class="error" for="topic"></label>
                </div>
            </div>
            <div class="new-class-input">
                <div>
                    <label for="teacher">Teacher</label>
                </div>
                <div>
                    <input type="text" id="teacher" name="teacher" required>
                </div>
                <div>
                    <label class="error" for="teacher"></label>
                </div>
            </div>
            <div class="new-class-input">
                <div>
                    <label for="medium">Medium</label>
                </div>
                <div>
                    <select id="medium" name="medium" required>
                        <option value="Online">Online</option>
                        <option value="Offline">Offline</option>
                    </select>
                </div>
                <div>
                    <label class="error" for="medium"></label>
                </div>
            </div>
            <div class="new-class-input" id="class-link-div">
                <div>
                    <label for="link">Link</label>
                </div>
                <div>
                    <input type="url" id="link" name="link" required>
                </div>
                <div>
                    <label class="error" for="link"></label>
                </div>
            </div>
            <div class="new-class-input" id="class-address-div" style="display: none">
                <div>
                    <label for="address">Address</label>
                </div>
                <div>
                    <textarea id="address" rows="4" name="address" required></textarea>
                </div>
                <div>
                    <label class="error" for="address"></label>
                </div>
            </div>
            <div class="new-class-input">
                <div>
                    <label for="class-date">Date</label>
                </div>
                <div>
                    <input type="date" id="class-date" name="classDate" required>
                </div>
                <div>
                    <label class="error" for="class-date"></label>
                </div>
            </div>
            <div class="new-class-input">
                <div>
                    <label for="class-time">Time</label>
                </div>
                <div>
                    <input type="time" id="class-time" name="classTime" required>
                </div>
                <div>
                    <label class="error" for="class-time"></label>
                </div>
            </div>
            <div>
                <button type="submit" id="new-class-submit-button" name="newClassSubmitButton">
                    Done
                </button>
            </div>
        </form>
    </div>
</div>

<script src="javascripts/new-class-modal.js"></script>