<!DOCTYPE html>
<html lang="en">

<head>
    <title>Verification Code</title>
    <%- include('head-include.ejs') %>
</head>

<body>
    <form id="otpform" name="otpform" action="" method="post">
        <div class="container">
            <h1>Verification Code</h1>
            <hr>
            <div>
                <p>Please enter your OTP here.</p>
                <input type="text" id="otp" name="otp" required>
                <label id="otp_error" class="error" for="otp"></label>
            </div>
            <div class="clearfix">
                <br>
                <input type="submit" id="submit_button" class="otpbutton" value="Verify"></button>
            </div>
        </div>
    </form>
    <script src="javascripts/client.js"></script>
    <link href="stylesheets/style.css" rel="stylesheet">
</body>

</html>