<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<link rel="stylesheet" href="stylesheets/sidebar.css" />
    <div class ="sidebar">
        <div class="logo"></div>
        <ul class="menu">
            <li class="Dashboard">
                <a href = "/home">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>DashBoard</span>  
                </a>
            </li>
            <li class="PrayerTimes">
                <a href = "/prayer-times">
                    <i class="fas fa-clock"></i>
                    <span>Prayer times</span>
                </a>
            </li>
            <li class="DailyPlanner">
                <a href = "#">
                    <i class="fas fa-calendar-days"></i>
                    <span>Daily Planner</span>
                </a>
            </li>
            <li class="Challenges">
                <a href = "#">
                    <i class="fas fa-list-check"></i>
                    <span>Challenges</span>
                </a>
            </li>
            <li class="Events">
                <a href = "/classes">
                    <i class="fas fa-person-chalkboard"></i>
                    <span>Events</span>
                </a>
            </li>
            <li class="Forum">
                <a href = "#">
                    <i class="fas fa-users-line"></i>
                    <span>Forum</span>
                </a>
            </li>
        </ul>
    </div>

    <script src="javascripts/sidebar.js"></script>
