/*mini-calendar is a table*/

.mini-calendar {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    margin: auto auto;
}

#mini-calendar-container {
    /* border: 1px solid #b7b7b7;  */
    /* padding: 10px 10px 10px 35px;
    border-radius: 5px; */

    /* margin: 100px;
    margin-left: 150px;
    margin-bottom: 200px; */
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
            box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: block;
    /* padding: 1.5rem 3rem 1rem 3rem; */
    width: 1050px;
    height: 750px;
    margin: auto auto;
}

#mini-calendar-container input[id="month"] {
    --color: #ddd1f3;
    --press-color: #d1baf4;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--press-color);
    background-color: var(--color);
    cursor: pointer;
}

#mini-calendar-container input[id="year-up"], input[id="year-down"] {
    --color: rgb(245, 209, 249);
    --press-color: #dd8ee7;
    width: 35px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid var(--press-color);
    background-color: var(--color);
}

#mini-calendar-container input[id="year-up"]:active, input[id="year-down"]:active {
    background-color: var(--press-color);
}

#mini-calendar-container input[id="year"] {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #dbd3df32;
    cursor: default;
    border-color: rgb(193, 169, 206);
    border-style: solid;
    border-width: 1px;
}

#mini-calendar-container input[id="month"]:active {
    background-color: var(--press-color);
}

.mini-calendar td {
    border-color: rgba(153, 149, 149, 0.828);
    /* border-style: solid; */
    border-width: 1px;
    font-size: 20px;
    overflow: hidden;
    word-break: normal;
    width: 30px;
    height: 100px;
    /* vertical-align: top; */
    text-align: left;
    cursor: pointer;
    padding-top: 5px;
    text-align: center;
}

.mini-calendar th {
    border-color: rgba(153, 149, 149, 0.828);
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    overflow: hidden;
    word-break: normal;
    background-color: #9266d3;
    color: white;
    width: 140px;
    height: 50px;
}

.mini-calendar .date-cell{
    font-family: "Poppins", Times, sans-serif !important;
}

.mini-calendar .date-cell.current-month {
   
    font-family: "Times New Roman", Times, serif !important;
    background-color: #e7e7e7;
}

.mini-calendar .date-cell:hover {
    background-color: #e5def1;  
}

.mini-calendar .date-cell.previous-month, .date-cell.next-month {
    -webkit-text-fill-color: #868686;
}

.mini-calendar .date-cell.current-date {
    background-color: #eebef1 !important;
}

.month-picker-container {
    border: 1px solid #b7b4b4;
    border-radius: 10px;
    display: block;
    position: absolute;
    background-color: #f6f5f5;
    box-shadow: 0 0 20px 3px #b6b5b5;
    z-index: 2;
}

.month-picker-container.hidden {
    display: none;
}

.month-picker {
    padding: 5px 5px 5px 5px;
}

.month-picker td {
    width: 100px;
    height: 100px;
    padding: 5px 5px 5px 5px;
    cursor: default;
    text-align: center;
}

.month-picker td:hover {
    background-color: #dad8d8;    
}

.calendar-top {
    display: flex;
    flex-direction: row;
    /* margin: auto 0; */
}

#year {
    font-size: 16px;
    margin-left: 10px;
    margin: 10px;
}

#month {
    font-size: 16px;
    margin: auto 30px;
}

.change-year {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

#year-up, #year-down {
    right: 5%;
    margin: 10px;
}

.HijriDate{
    text-align: center;
    /* padding: 40px 5px 0 0; */
    font-size:14px;
    pointer-events: none;
}

.GregorianDate{
    pointer-events: none;
}