@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* * {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
} */

body {
    display: flex;
}

.card {
    /* background: rgb(93, 154, 119); */
    border-radius: 10px;
    padding: 1.2rem;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
}

.card--detail {
    font-size: 25px;
    font-weight: bold;
    color: rgba(113, 99, 186, 255);
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.light-purple {
    background: rgb(254, 226, 254);
}

.light-green {
    background: rgb(235, 254, 235);
    /* background: #8a00e6; */

}

.light-red {
    background: rgb(251, 233, 233);
}

.light-blue {
    /* background: rgb(236, 236, 254); */
    background: linear-gradient(to right, #9dcad9, #b3dde0);
    margin: 0px 60px 0px 60px;
    text-align-last: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* align-self: center; */

}

.light-pink {
    /* background: rgb(236, 236, 254); */
    background: linear-gradient(to right, #40b0a6 0%, #73c5be 80%);
    margin: 0px 5px 0px 10px;
    text-align-last: center;
    /* align-self: center; */
    height: 100px;
    width: 180px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.light-now{
    /* background: linear-gradient(to right, #bce3e0 0%, #cfebe9 80%); */
    background: linear-gradient(to right, #a9dbd7 0%, #b3dfdb 80%);

    margin: 0px 5px 0px 10px;
    text-align-last: center;
    /* align-self: center; */
    height: 100px;
    width: 180px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #408bb6;
    color: #fff;
    padding: 10px;
    text-align: center;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

.main--content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #d5e3ec;
    text-align-last: center;
}
/* 
.doa-arab
{
    font-size: 90 px !important;
    font-weight: 900;
} */

.doa{
    text-align-last: center;
}
.dua-today{
    margin-bottom: 20px;
    color: #004e7f;
}
.card-wrapper{
    /* display: flex; */
    align-items: center; 
    /* padding: 0 100px 0 0; */
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.wrapped{
    align-items: center; 
    /* padding: 0 100px 0 0; */
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}
.card-detail{
    /* padding: 30px; */
    /* background: white; */
    color: #004e7f;
    padding: 0.5rem;
    font-size: 22px;
    text-decoration-line: underline;
    text-decoration-color: #004e7f ;
    /* border-radius: 5px;  */
    /* background: linear-gradient(to right, #8cb8d4, #b2dfe0); */

}
.card-detail1{
    /* padding: 30px; */
    /* background: white; */
    color: #004e7f;
    padding: 0.2rem;
    font-size: 20px;
    text-decoration-line: underline;
    text-decoration-color: #004e7f ;
    /* border-radius: 5px;  */
    /* background: linear-gradient(to right, #8cb8d4, #b2dfe0); */

}
.main-title{
    margin-bottom: 20px;
    margin-top: 20px;
    color: #004e7f;
}
/* .card-blue{
    background: linear-gradient(to right, #8cb8d4, #b2dfe0);

} */