
.salat-table {
    border-collapse: collapse;
    border-spacing: 0;

    color: #363636;
    margin-bottom: 1rem;
    width: 100%;
}

.salat-table td {
    /* border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    overflow: hidden;
    word-break: normal;
    width: 300px;
    height: 60px; */
    border-width: 0 0 1px;
    text-align: left;
    /*  */
    padding: 0.5em 0.75em 0.6em 0.75em;
    vertical-align: top;
}


.salat-table th {
    /* border-color: black;
    border-style: solid;
    border-width: 2px;
    font-family: Arial, sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    overflow: hidden;
    word-break: normal;
    font-weight: bold;
    width: 300px;
    height: 30px; */
    text-align: left;
    color: #363636;
    border-width: 0 0 2px;
    text-align: left;
    padding: 0.5em 0.75em;
    vertical-align: top;
    width: 10em;
}

.salat-table .notBottom{
    /* border: 1px solid rgba(193, 180, 233, 0.75); */
       /* border: 1px solid rgba(0, 148, 153, 0.75); */
    border: 1px solid rgba(00, 98, 159, 0.75);

    border-width: 0 0 1px;
}
#prayer-time-location{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 10px
}

.prayer-time-location-select{
    margin: 10px 10px 10px 10px;
}


.prayer-time-location-select select{
    border: 2px solid #525252;
    border-radius: 5px;
}

.salat-table .salat-table-0lax {
    /* text-align: center; */
    vertical-align: middle;
    background-color: transparent;
}

/* .salat-table tr:nth-child(odd) {
    background-color: rgb(207, 207, 250);
}

.salat-table tr:nth-child(1) {
    background-color: rgb(184, 143, 252);
}

.salat-table tr:nth-child(even) {
    background-color: rgb(207, 190, 260);
} */

.salat-table tr.is-selected {
    /* background-color: #00d1b2; */
    /* background-color: rgba(182, 202, 246, 0.93); */
    background-color: #f5fffa;
    font-weight: bold;
  }
  

   .salat-time{
    margin: 100px;
    margin-left: 150px;
    margin-bottom: 200px;
    background: linear-gradient(to right, #8cb8d4, #b2dfe0);
    /* background-color: rgba(95, 46, 241, 0.1); */
    color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
            box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: block;
    padding: 1.5rem 3rem 1rem 3rem;
    width: 500px;
    height:300px;
  }

  .myCalendar{
    position: absolute;
    left: 560px;
    bottom: 248px;
    scale: 1.22;
  }