
.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    overflow: hidden;
    word-break: normal;
    width: 300px;
    height: 60px;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    font-family: Arial, sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    overflow: hidden;
    word-break: normal;
    font-weight: bold;
    width: 300px;
    height: 30px;
}

#prayer-time-location{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 10px
}

.prayer-time-location-select{
    margin: 10px 10px 10px 10px;
}


.prayer-time-location-select select{
    border: 2px solid #525252;
    border-radius: 5px;
}

.tg .tg-0lax {
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
}

.tg tr:nth-child(odd) {
    background-color: rgb(207, 207, 250);
}

.tg tr:nth-child(1) {
    background-color: rgb(184, 143, 252);
}

.tg tr:nth-child(even) {
    background-color: rgb(207, 190, 260);
}
