@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* .searchbar{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
} */

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 400px;
  border: 3px solid #d0baf8;
  border-right: none;
  padding: 5px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #805ca4;
  font-size: 15px;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 35px;
  border: 1px solid #9f5fff;
  background: #9f5fff;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
/* .wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.search-filter select {
  /* border:none;
  padding: 10px 20px;
  border-radius:5px; */
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #d0baf8;
  border-radius: 5px;
  width: 200px;
  height: 35px;
  font-size: medium;
}

/*radio button*/
/* Customize the label (the container) */
.online-offline-filter .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

