<label class="container">
  <input type="radio" checked="checked" name="radio" value="All">
  <span class="checkmark"></span>
  All
</label>
<label class="container">
  <input type="radio" name="radio" value="Online">
  <span class="checkmark"></span>
  Online
</label>
<label class="container">
  <input type="radio" name="radio" value="Offline">
  <span class="checkmark"></span>
  Offline
</label>