<!-- <label for="language">Select a Programming Language:</label> -->
<select name="category" id="category">
  <option value="Topic" selected>Topic</option>
  <option value="Teacher">Teacher</option>
  <option value="Online">Online</option>
  <option value="Offline">Offline</option>
</select>