<!-- <label for="language">Select a Programming Language:</label> -->
<select name="category" id="category">
  <option value="Topic" selected>Topic</option>
  <option value="Teacher">Teacher</option>
  <option value="Link">Link</option>
  <option value="Address">Address</option>
</select>